run = "npm install && node dist/server.js"
entrypoint = "server.ts"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[env]
PORT = "3000"
INTERVIEW_PORT = "19847"
